<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <title>Colaboração</title>
</head>

<body>
    <style>
        /* Estilos CSS aqui */
        body {
            background-color: #141414;
            color: #fff;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
    
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
    
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
    
        .card {
            background-color: rgba(128, 0, 128, 0.493);
            border-radius: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            margin-bottom: 20px;
        }
    
        .card-header {
            background-color: rgba(128, 0, 128, 0.493);
            color: #fff;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
        }
    
        .card-body {
            padding: 20px;
        }
    
        .nav-pills .nav-link {
            color: #fff;
        }
    
        .nav-pills .nav-link.active {
            background-color: rgba(128, 0, 128, 0.493);
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
            background-color: rgba(128, 0, 128, 0.493);
            color: #fff;
        }
    
        th,
        td {
            padding: 10px;
            text-align: left;
            background-color: rgba(128, 0, 128, 0.493);
        }
    
        th {
            background-color: rgba(128, 0, 128, 0.493);
        }
    
        tr:nth-child(even) {
            background-color: rgba(128, 0, 128, 0.493);
        }
    
        .card-footer {
            text-align: center;
            margin-top: 20px;
        }
    
        .btn-primary {
            background-color: rgba(128, 0, 128, 0.493);
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 20px;
        }
    
        .btn-primary:hover {
            background-color: rgba(128, 0, 128, 0.493);
        }
    
        /* Estilos para o chat */
        .chat-container {
            max-height: 300px;
            overflow-y: auto;
            padding: 10px;
            border-radius: 4px;
        }
    
        .chat-message {
            margin: 10px 0;
        }
    
        #chat-form {
            display: flex;
        }
    
        #chat-input {
            flex: 1;
            padding: 8px;
            border: 1px solid rgba(128, 0, 128, 0.493);
            border-right: none;
            border-radius: 4px 0 0 4px;
        }
    
        #chat-send-button {
            padding: 8px 12px;
            background-color: rgba(128, 0, 128, 0.493);
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 0 4px 4px 0;
        }
    
        #chat-send-button:hover {
            background-color: rgba(128, 0, 128, 0.493);
        }
    </style>
    <a href="/painel" class="btn btn-primary" style="position: fixed; top: 20px; left: 20px;">
        <i class="fas fa-arrow-left"></i> Voltar para o painel
    </a>
    <div class="container">
        <h1><strong>Colaboração</strong></h1>
        <div class="card" style="border-radius: 20px">
            <div class="card-header" style="border-radius: 20px">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-chat-tab" data-toggle="pill" href="#pills-chat" role="tab"
                            aria-controls="pills-chat" aria-selected="true">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-arquivos-tab" data-toggle="pill" href="#pills-arquivos" role="tab"
                            aria-controls="pills-arquivos" aria-selected="false">Arquivos compartilhados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-tarefas-compartilhadas-tab" data-toggle="pill"
                            href="#pills-tarefas-compartilhadas" role="tab" aria-controls="pills-tarefas-compartilhadas"
                            aria-selected="false">Tarefas compartilhadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-tarefas-concluidas-tab" data-toggle="pill"
                            href="#pills-tarefas-concluidas" role="tab" aria-controls="pills-tarefas-concluidas"
                            aria-selected="false">Tarefas concluídas</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-chat" role="tabpanel" aria-labelledby="pills-chat-tab">
                        <h2>Chat</h2>
                        <div class="chat-container">
                            <div class="chat-message">
                                <strong>Fulano de Tal:</strong> Olá, como vai?
                            </div>
                            <div class="chat-message">
                                <strong>Beltrano de Tal:</strong> Tudo bem, e você?
                            </div>
                            <div class="chat-message">
                                <strong>Fulano de Tal:</strong> Tudo ótimo!
                            </div>
                        </div>
                        <form id="chat-form">
                            <input type="text" id="chat-input" style="outline: none;" placeholder="Digite sua mensagem...">
                            <button type="submit" id="chat-send-button" style="margin-left: 5px; margin-right: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
                              </svg></button>
                            <button type="submit" id="chat-send-button">Enviar</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-arquivos" role="tabpanel" aria-labelledby="pills-arquivos-tab">
                        <h2>Arquivos compartilhados</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Arquivo</th>
                                    <th>Data</th>
                                    <th>Enviado por</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Documento.pdf</td>
                                    <td>01/01/2023</td>
                                    <td>Fulano de Tal</td>
                                </tr>
                                <tr>
                                    <td>Imagem.jpg</td>
                                    <td>02/01/2023</td>
                                    <td>Beltrano de Tal</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="pills-tarefas-compartilhadas" role="tabpanel"
                        aria-labelledby="pills-tarefas-compartilhadas-tab">
                        <h2>Tarefas compartilhadas</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Tarefa</th>
                                    <th>Prazo</th>
                                    <th>Responsável</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Criar logotipo</td>
                                    <td>05/01/2023</td>
                                    <td>Fulano de Tal</td>
                                    <td>
                                        <input type="checkbox" id="task-1" class="task-completed-checkbox">
                                        <label for="task-1"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Desenvolver site</td>
                                    <td>10/01/2023</td>
                                    <td>Beltrano de Tal</td>
                                    <td>
                                        <input type="checkbox" id="task-2" class="task-completed-checkbox">
                                        <label for="task-2"></label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="pills-tarefas-concluidas" role="tabpanel"
                    aria-labelledby="pills-tarefas-concluidas-tab">
                    <h2>Tarefas concluídas</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Tarefa</th>
                                <th>Data de Conclusão</th>
                                <th>Responsável</th>
                                <th>Projeto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Criar apresentação</td>
                                <td>20/01/2023</td>
                                <td>Cicrano de Tal</td>
                                <td>Projeto 1</td>
                            </tr>
                            <tr>
                                <td>Finalizar relatório</td>
                                <td>15/01/2023</td>
                                <td>Beltrano de Tal</td>
                                <td>Projeto 2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Adicione funcionalidade para marcar tarefas como concluídas
    const completedCheckboxes = document.querySelectorAll('.task-completed-checkbox');

    completedCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            const taskText = this.previousElementSibling.previousElementSibling.previousElementSibling;
            if (this.checked) {
                taskText.classList.add('task-completed');
            } else {
                taskText.classList.remove('task-completed');
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</body>

</html>